*{
  margin:0;
  padding:0;
}
body{
  background-color: #000;
}
main{
  display:flex;
  flex-direction: column;
  
}
.link-style{
  text-decoration: none;
  color:#FFF;
}
/* NAVIGATION */
nav{
  display:flex;
  justify-content: space-between;
  padding:8px;

}
.left{
  display:flex;

}
.right{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:4px;
}
.nav-gap{
  gap:12px;
}
.align-center{
  align-items: center;
}
.g-profile{
  background-image: url("assets/profile/ryan.jpg");
  background-size:cover;
  background-position: center;
  border-radius: 50%;
  width:50px;
  min-height:50px;
}
.g-apps{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width:50px;
  max-height:50px;
}
.circle-container{

  display:flex;
  justify-content: center;
  align-items: center;

  
}
.circles{
  width:12px;
  min-height:12px;
  border-radius: 50%;
  background-color: black;
  
}

/* END OF NAVIGATION */

/* GOOGLE LOGO */
.google-logo{
 
  display:flex;
  justify-content: center;
  max-width: 100%;
  padding:12px;

}
.google-logo img{
  max-width: 50%;
}

/* END OF GOOGLE LOGO */

/* FORM STARTS */
.form-container{
 
}
.search-container{

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
  
}
#search-bar{
  width:350px;
  height:35px;
  border-radius: 12px;
  background-color: whitesmoke;
}

.search-box-container >input{
  padding:8px;
  margin:8px 0;
  color:#FFF;
  background-color: #303134;
  
  border-radius:6px;
  
}
/* ICONS INSIDE OF SEARCH BAR */
.search-icons{
  position:absolute;
  top:12%;
  display:flex;
  padding:0 4px;
  justify-content: space-between;
  width:320px;
}
.search-icons .l{
  color:gray;
}
.search-icons .r{
  padding:0 8px;
}