*{
  margin:0;
  padding:0;
}
.flexR{
  display:flex;
  gap:8px;
  padding:20px 8px;
}
.txtdec-NONE{
  text-decoration: none;
}

.main-wrapper{
  border:1px solid black;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  gap:8px;
  
}
/* START NAVIGATION */
header{
  grid-column: 1/13;
}

nav {
  display:flex;
  justify-content: space-between;

  
}
.nav-items{
  align-items: center;
}
.img-container{
  width:40px;
  height:40px;
  border:1px solid green;
  border-radius: 50%;
  overflow: hidden;
}
.img-container > img{
  max-width: 100%;
  object-fit: cover;
  object-position:top;

  
}
.g-labs{
  width:40px;
  height:40px;
  display:flex;
  align-items: center;
}
.g-labs i{
  font-size: 30px;
}

.g-apps{
  width:40px;
  height:40px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-containers{
  max-width: 100%;
  display:flex;
  justify-content: space-evenly;
  
}
.app-items{
  width:8px;
  height:8px;
  background-color: black;
  border-radius: 50%;
  margin:1px;
  
}
/* END NAVIGATION */