*{
  margin:0;
  padding:0;
}
body{
  background-color: white;
}
main{
  display:flex;
  flex-direction: column;
  
}
.link-style{
  text-decoration: none;
}
/* NAVIGATION */
nav{
  display:flex;
  justify-content: space-between;
  padding:8px;

}
.left{
  display:flex;

}
.right{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:4px;
}
.nav-gap{
  gap:12px;
}
.align-center{
  align-items: center;
}
.g-profile{
  background-image: url("assets/profile/ryan-jacobson-ZOtEoWm6quo-unsplash\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width:50px;
  height:50px;
}
.g-apps{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  width:50px;
  height:50px;
}
.circle-container{

  display:flex;
  justify-content: center;
  align-items: center;

  
}
.circles{
  width:12px;
  height:12px;
  border-radius: 50%;
  background-color: black;
  
}

/* END OF NAVIGATION */

/* GOOGLE LOGO */
.google-logo{
 
  display:flex;
  justify-content: center;
  max-width: 100%;
  padding:12px;

}
.google-logo img{
  max-width: 70%;
}

/* END OF GOOGLE LOGO */

/* FORM STARTS */
.form-container{
 
}
.search-container{

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#search-bar{
  width:350px;
  height:35px;
  border-radius: 12px;
  background-color: whitesmoke;
}

.search-box-container >input{
  width:150px;
  height:25px;
  margin:8px 0;
  border-radius:6px;
  
}